
<html>
  <head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <% @questions.each do |question| %>
<div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"><b class="btn btn-primary btn-xs"> <%= question.get_upvotes.size %></b></i> <%= link_to question.qtitle, question %> </h4><h5><%= question.user.email %></h5>
                    </div>
                    <div class="panel-body">
                        <p><%= truncate( question.qtext, length: 100) %></p>
                        <b class="btn btn-default btn-xs">Category : </b><b class="btn btn-default btn-xs"><%= question.category.cat_name %></b><b class="btn btn-default btn-xs"><%= question.sub_category.sub_cat_name %></b>
                        
                        <b><%= link_to 'Read', question, :class => 'btn btn-primary btn-xs' %></b> 
        <b><%= link_to "+", like_question_path(question), method: :put, :class => 'btn btn-success btn-xs'%></b>
        <b><%= link_to "-", dislike_question_path(question), method: :put, :class => 'btn btn-danger btn-xs' %></b>
        
        <% if question.user == current_user %>
        <b><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-default btn-xs'%></b>
        <b><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'  %></b>  
        <% end %>
                    </div>
                </div>
            </div>
    <% end %>





</body>
</html>











