<p id="notice"><%= notice %></p>

<p>
  <strong>Qtitle:</strong>
  <%= @question.qtitle %>
</p>

<p>
  <strong>Qtext:</strong>
  <%= @question.qtext %>
</p>


  <strong>Approved:</strong>
  <%= @question.approved %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.category.cat_name %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @question.sub_category.sub_cat_name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>



<h3>Comments</h3>

<%= form_for [@question, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @question.comments) %>
</ul>
