<html>
<head>
    <title><%= @user.full_name %>'s Profil page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <% sum = 0 %>
<% @user.questions.each do |question| %>
    <% sum += question.cached_votes_up %>

<% end %>

<% ques = 0 %>
<% @user.blogs.each do |blog| %>
    <% ques += blog.cached_votes_up %>

<% end %>


<% comm = 0 %>
<% @user.comments.each do |comment| %>
    <% comm += comment.cached_votes_up %>

<% end %>
  	
 
<% total = sum + ques + comm  %>


<div class="container">
	<div class="row">
		<div class="col-md-4">

		<%= image_tag @user.avatar.url(:medium) %> </div>
		<div class="col-md-3">

		<div class="row"><h4><%= @user.full_name %>'s Profil page</h4></div>
		<div class="row"><h5>Username : <%=@user.username %></h5></div>
		<div class="row"><h5>E-mail : <%=@user.email %></h5></div>
		<div class="row"><h5>About</h5> <p><%=@user.about %></p></div>
		<div class="row"><h6>Total User Votes : <button class="btn-primary"><%= "#{total}" %> </button>	</h6></div>

		</div>
		<% if @user == current_user %>
		<div class="col-md-2">
	<button class="btn-toolbar"><%= link_to 'Edit My Profile', edit_user_registration_path %></button>	
<% end %>

</div>
		
	</div>



<div class="row">
	<div class="col-md-4">
	<h6>Questions by <%= @user.username %> (<%= @user.questions.count %>) Total Question Upvotes: <%= "#{sum}" %> </h6>
	<div class="row"> <%=render @user.questions %></div>
	</div>

	<div class="col-md-4">
		<h6>Blogs by <%= @user.username %> (<%= @user.blogs.count %>) Total Blogs Upvotes: <%= "#{ques}" %> </h6>
		<div class="row"> <%=render @user.blogs %> </div>
	</div>
	<div class="col-md-4">
		<h6 class="text-right"> |  Comments by <%= @user.username %> (<%= @user.comments.count %>) Total Comments Upvotes: <%= "#{comm}" %>  </h6>
	</div>
</div>








</div>







</body>
</html>