<!DOCTYPE html>
<html>
  <head>
    <title>Zuzman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <div class="container-fluid">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p> 
   <ul class=nav nav-tabs">
     <li role="presentation" class="active"><a href="#"><%= link_to "Ana Sayfa", root_path %></a></li>

  <li> </li>
  <li> <%= link_to "Bloglar", blogs_path %></li>  
   <% if user_signed_in? %>
   <li><%= link_to "Cikis Yap", destroy_user_session_path, method: :delete %></li>
   <% else %>
   <li><%= link_to "Giris Yap", new_user_session_path %></li>
  <li> <%= link_to "Uye Ol", new_user_registration_path %></li>
   <% end %>
   </ul>
</div>

   
   <%= yield %>

   
  </body>
</html>
